.heading {
    font-size: 30px;
    font-family: Courier New, monospace;
}

body {
    background-color: grey;
}

.row {
    margin-top: 20px;
}
h1 {
    text-align: center;
    font-size: 70px;
    font-family: 'Courier New', monospace;
    font-weight: bolder;
    color: black;
    margin-top: 20px;
}

.colorMe {
    color: black;
}

.carousel-item { 
    justify-self: center;
    height: 480px;
}

.button {
    color: black;
}

.carousel-control-prev {
    color: black;
}

.carousel-control-next {
    color: black;
}