.heading {
    font-size: 30px;
    font-family: Courier New, monospace;
}

.highlight {
    color: slateblue;
    font-size: 15px;
}
.row {
    margin-top: 20px;
}

h1 {
    text-align: center;
    font-size: 70px;
    font-family: 'Courier New', monospace;
    font-weight: bolder;
    color: black;
    margin-top: 20px;
}

.accordion-body {
    font-size: 15px;
    font-family: 'Courier New', monospace;
    color: antiquewhite;
}

.accordion-button {
    font-size: 30px;
    font-family: 'Courier New', monospace;
    background-color: rgb(25, 26, 26);
    color: antiquewhite;
}

.accordion-body {
    background-color: rgb(25, 26, 26);
}

.colorMe {
    color: black;
}

.carousel-item .test{ 
    height: 480px;
}

.carousel-item .test2 {
    justify-content: center;
    height: 680px;
}